@font-face {
    font-family: AB-brands1;
    src: url(../WebFont/fa-brands-400.ttf);
    src: url(../WebFont/fa-brands-400.woff2);
}

@font-face {
    font-family: AB-brands2;
    src: url(../WebFont/fa-regular-400.ttf);
    src: url(../WebFont/fa-regular-400.woff2);
}

@font-face {
    font-family: AB-brands3;
    src: url(../WebFont/fa-solid-900.ttf);
    src: url(../WebFont/fa-solid-900.woff2);
}

* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 0px;
    font-weight: 100;
    margin: 0px;
    font-size: 20px;
    font-weight: 100;
    box-sizing: border-box;
}

img {
    user-select: none;
    /* جلوگیری از انتخاب */
    -webkit-user-drag: none;
    /* جلوگیری از درگ شدن تصویر */
}

.RightIcon2 {
    user-select: none;
    /* جلوگیری از انتخاب متن */
    -webkit-tap-highlight-color: transparent;
    /* موبایل */
    outline: none;
    /* حذف outline */
}

.RightIcon2:focus,
.RightIcon2:active {
    outline: none;
    background: none;
    /* حذف بک‌گراند آبی پیش‌فرض */
}

.MeinDiv1 {
    width: 100%;
    height: 931px;
    background-color: #7b6ada;
    border-bottom-right-radius: 380px;
    overflow: hidden;
}

.Circle1 {
    position: absolute;
    height: 244px;
    width: 244px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    top: 217px;
    left: 264px;
}

.Circle2 {
    position: absolute;
    height: 393px;
    width: 393px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    top: 140px;
    left: 186px;
}

.Header {
    width: 100%;
    height: 80px;
    /* background-color: rgba(255, 0, 0, 0.411); */
    position: absolute;
    /* border: 1px solid rgba(255, 0, 0, 0.342); */
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
    top: 22px;
    /* -83 */
    z-index: 9;
}

.Circle1Header {
    position: absolute;
    height: 340px;
    width: 340px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.308);
    top: -107px;
    left: 70.6%;
}

.Circle2Header {
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.315);
    top: -184px;
    left: 66.5%;
}

.Header p {
    z-index: 9;
    transition: color 0.5s ease;
    cursor: pointer;

}

.Text6 {
    position: absolute;
    left: 80%;
    top: 37.4%;
    color: #ffff;
    font-size: 14px;
    font-weight: 100;
}

.Text5 {
    position: absolute;
    left: 74.4%;
    top: 37.4%;
    color: #ffff;
    font-size: 14px;
    font-weight: 100;
}

.Text4 {
    position: absolute;
    left: 69.4%;
    top: 37.4%;
    color: #ffff;
    font-size: 14px;
    font-weight: 100;
}

.Text3 {
    position: absolute;
    left: 63.3%;
    top: 37.4%;
    color: #ffff;
    font-size: 14px;
    font-weight: 100;
}

.Text2 {
    position: absolute;
    left: 56.9%;
    top: 37.4%;
    color: #ffff;
    font-size: 14px;
    font-weight: 100;
}

.Text1 {
    position: absolute;
    left: 51.3%;
    top: 37.4%;
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
}

.Text1:hover {
    color: #ffffff91;
}

.Text2:hover {
    color: #ffffff91;
}

.Text3:hover {
    color: #ffffff91;
}

.Text4:hover {
    color: #ffffff91;
}

.Text5:hover {
    color: #ffffff91;
}

.Text6:hover {
    color: #ffffff91;
}

.ShowText {
    position: absolute;
    background-color: #887adb;
    width: 90px;
    /* 90px */
    height: 45px;
    left: 50%;
    /* 50% */
    top: 20%;
    border-radius: 40px;
    transition: all 1s;
}

.Text-SCHOLAR {
    position: absolute;
    color: #ffffff;
    font-weight: 900;
    font-family: Roboto;
    font-size: 36px;
    left: 292px;
    top: 18px;
}

.verticalLine {
    position: absolute;
    width: 1px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    left: 480px;
    top: 20px;
}

.SearchBox {
    position: absolute;
    width: 250px;
    height: 45px;
    border-radius: 30px;
    left: 502px;
    /* padding-top: -20px; */
    background-color: #887adc;
    padding: 0px 20px 5px;
    top: 20px;
    border: 1px solid #887adc;
}

.SearchBox::placeholder {
    font-size: 15px;
    color: #c5c5c5;
    margin-top: -10px;
}

.MainDiv {
    position: absolute;
    position: relative;
    width: 1322px;
    height: 624px;
    /* border: 1px solid rgba(100, 182, 34, 0.349); */
    left: 16%;
    top: 18%;
    overflow: hidden;
}

.ChildDiv {
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.616); */
    height: 100%;
    width: 4900px;
    transition: all 1s;
    left: 0%;
}

.grandchild1 {
    position: absolute;
    left: 1%;
    overflow: hidden;
    top: 2%;
    width: 1160px;
    height: 95%;
    /* background-color: #4df070; */
    background-image: url('../piccher/banner-item-01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 35px;
    background-size: cover;
    transition: all 1s;
    cursor: pointer;
    /* .ChildDiv{
        left: 0%;
    } */
}

.grandchild2 {
    position: absolute;
    left: 30%;
    border-radius: 35px;
    top: 2%;
    width: 1160px;
    height: 95%;
    background-color: #849237;
    cursor: pointer;
    background-image: url("../piccher/banner-item-02.jpg");
    /* .ChildDiv{
        left: -107.3%;
    } */

}

.grandchild3 {
    position: absolute;
    left: 59%;
    top: 2%;
    width: 1160px;
    height: 95%;
    cursor: pointer;
    border-radius: 35px;
    background-image: url("../piccher/banner-item-03.jpg");
    /* .ChildDiv{
        left: -214%;
    } */
}

.RightIcon1 {
    position: absolute;
    color: #ffffff;
    z-index: 2;
    /* z-index 0 */
    right: 2%;
    bottom: 9%;
    background-color: #9588e0b2;
    padding: 13px;
    transition: all 0.8s;
    border-radius: 50%;
    font-weight: 800;
    opacity: 0.7;
    cursor: pointer;
}

.RightIcon2 {
    position: absolute;
    color: #ffffff;
    z-index: 2;
    /* z-index 0 */
    right: 2%;
    bottom: 20%;
    transform: scaleX(-1);
    background-color: #9588e0b2;
    padding: 13px;
    border-radius: 50%;
    transition: all 0.8s;
    font-weight: 800;
    cursor: pointer;
}

.hidenArrow {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 90px;
    height: 60px;
    right: 10px;
    bottom: 52px;
    /* transition: 1s all; */
    z-index: 3;
}

.Text1GrandChild1 {
    position: absolute;
    color: #ffffff;
    font-family: Roboto;
    font-style: italic;
    font-size: 48px;
    font-weight: 900;
    transition: all 0.8s;
    line-height: 1.3;
    top: 32%;
    left: 10%;
}

.HighlightTextgrandchild1 {
    position: absolute;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    background-color: #7b6ada;
    padding: 5px 13px;
    border-radius: 17px;
    top: 19%;
    transition: all 0.8s;
    left: 11%;
}

.LoremIpsumTextgrandchild1 {
    position: absolute;
    color: #ffffff;
    font-size: 14px;
    top: 62%;
    transition: all 0.8s;
    left: 10%;
    line-height: 1.8;
}

.SlidingBar {
    position: absolute;
    position: relative;
    width: 3px;
    height: 530px;
    background-color: rgb(255, 255, 255);
    left: 15%;
    top: -44%;
    transition: all 0.8s;
    border-radius: 20px;
}

.CircleFirSidingBar {
    width: 28px;
    border-radius: 50%;
    height: 28px;
    left: -430%;
    top: 2%;
    position: absolute;
    background-color: #ffffff;
    /* background-color: #382212; */
    transition: all 1s;
}

.Hover1GrandChild1 {
    position: absolute;
    width: 1120px;
    left: 1.9%;
    top: 2.5%;
    height: 560px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 35px;
}

.Hover2GrandChild1 {
    position: absolute;
    width: 1073px;
    height: 530px;
    background-color: rgba(0, 0, 0, 0.747);
    left: 3.9%;
    top: 5%;
    border-radius: 35px;
    display: grid;
    place-items: center;
}

.ClickText1GrandChild1 {
    color: #ffffff;
    font-weight: 900;
    font-size: 60px;
}

.ForJS {
    opacity: 0;
    display: none;
    transition: all 1s;
}

.Text1GrandChild2 {
    position: absolute;
    color: #ffffff;
    font-family: Roboto;
    font-style: italic;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.3;
    top: 32%;
    left: 10%;
}

.HighlightTextgrandchild2 {
    position: absolute;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    background-color: #7b6ada;
    padding: 5px 13px;
    border-radius: 17px;
    top: 19%;
    left: 11%;
}

.LoremIpsumTextgrandchild2 {
    position: absolute;
    color: #ffffff;
    font-size: 14px;
    top: 62%;
    left: 10%;
    line-height: 1.8;
}

.Text1GrandChild3 {
    position: absolute;
    color: #ffffff;
    font-family: Roboto;
    font-style: italic;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.3;
    top: 32%;
    left: 10%;
}

.HighlightTextgrandchild3 {
    position: absolute;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    background-color: #7b6ada;
    padding: 5px 13px;
    border-radius: 17px;
    top: 19%;
    left: 11%;
}

.LoremIpsumTextgrandchild3 {
    position: absolute;
    color: #ffffff;
    font-size: 14px;
    top: 62%;
    left: 10%;
    line-height: 1.8;
}